[2019-01-31 16:32] dmalawey opened #1 "update motor power diagram (Wiring Graphics Rev2019.01.30.pdf)"
this diagram shows ground and power labels reversed on the input phoenix connectors.  correct this on next version.

[2019-02-02 17:03] ansarid opened #2 "Ultrasonic Page on Electronics Diagram shows incorrect GPIO Plug"
The ultrasonic wiring diagram shows GP1 instead of the correct GP0.

[2019-02-02 19:51] #2 closed, assigned to nobody

[2019-02-07 14:13] dmalawey commented on #1
New wiring diagram issued.

[2019-02-07 14:13] #1 closed, assigned to nobody

[2019-02-07 19:38] ansarid opened #3 "Easy I2C wiring test."
Shows position of both left and right encoders.

[2019-02-12 07:52] #3 closed, assigned to ansarid

[2019-02-12 17:34] dmalawey opened #4 "Simplify scuttle.py"
Need to remove empty sections
Move driving commands such as "turn left" to a new file called "drive.py"
Add brief comments to explain the code for students.

[2019-02-12 18:30] dmalawey opened #5 "Create video on checking barrel plug voltage"
We need a video to show the functions of rc_test within SSH.

Please include instructions for the fewest commands to check the barrel plug voltage, for safety.

Let's mention it can be run also in cloud9

If we need to include a libary (adafruit BBIO?)  then we need to mention it's required, even if it was already installed in self_installer.sh

[2019-02-12 18:32] ansarid commented on #5
I can create a video showing both cloud9 and ssh. You should be able to measure from the adc out of the box.

[2019-02-14 18:31] dmalawey opened #6 "Get help with rc_test_servos issue"
Reach out for a solution to the problem of unable to drive multiple servos simultaneously.

[2019-02-14 22:17] dmalawey opened #7 "Write program that maintains distance from basketball"
Goals:

1) Get a new basketball
2) Get scuttle to recognize ball diameter
3) Have scuttle respond to ball diameter by approaching/reversing

[2019-02-18 01:26] ansarid commented on #3
Currently only shows encoder values.
No compass.

[2019-02-19 18:07] dmalawey opened #8 "Return encoders from MISL to MXET (2)"
DA

[2019-02-22 05:41] #5 closed, assigned to ansarid

[2019-02-25 18:14] ansarid opened #9 "Create PyGame replacement for matlab udp client."
Migrating all the tools to python for easier use across all devices.

[2019-02-25 18:39] ansarid opened #10 "Driving Servos over the Barrel Connector"
I tried soldering the DC barrel power to the LiPo connector input which worked to still power the BeagleBone Blue when using only the DC barrel to supply power. When I connected some servos and ran `rc_test_servos -s 1.5` the BeagleBone shut off immediately after the command was run. I unpluged and then plugged the beaglebone back in the lights came back on but the beaglebone refused to boot. I tr

[2019-03-07 14:31] dmalawey commented on #10
The required step for full functionality is to use a small 2S lipo that will be continuously recharged by our battery plugged into barrel jack.

JK, Feb 21, 2019 in youtube comment:
"@David Malawey The power is coming from the MP2615 charger IC. The regulator/motor load doesn't act like a battery and the MP2615 doesn't seem to be designed to provide a steady voltage without a battery load. Instead

[2019-03-07 14:31] #10 closed, assigned to dmalawey

[2019-03-07 14:34] #6 closed, assigned to dmalawey

[2019-03-07 14:35] dmalawey commented on #6
Issue resolved with 2s battery - details for solution are in the other issue concerning battery.

[2019-03-07 22:19] #7 closed, assigned to ansarid

[2019-03-07 22:20] SantiagoGarza96 opened #11 "BBB system space Issue"
![mxet 300 space issue](https://user-images.githubusercontent.com/20343153/53993141-26489680-40f4-11e9-92e1-40b024c2aa37.PNG)

I get this Issue when I try to use apt-get install "program name" to download programs. Any idea on checking and managing the BBB system storage.

[2019-03-07 22:24] ansarid commented on #11
@SantiagoGarza96 Try running these commands:

[code]

[2019-03-08 19:45] dmalawey opened #12 "Motor driving "signal handler error" or Segmentation Fault"
This output is given in concurrence with a disconnection of the beaglebone and a non-responsiveness to further commands.

/usr/local/lib/python3.5/dist-packages/rcpy-0.5.0-py3.5-linux-armv7l.egg/rcpy/__init__.py:127: UserWarning: > Installing signal handlers
  warnings.warn('> Installing signal handlers')

Message from syslogd@scuttle at Mar  1 22:46:44 ...
 kernel:[  649.327422] Internal error: :

[2019-03-09 00:04] JonasLos opened #13 "Beaglebone does not connect via SSH anymore"
Not sure why but out of nowhere my beaglebone will not connect via ssh over usb. I checked my drivers but all are up to date and functioning. Wifi SSH still works when connected. I reflashed it but maybe someone else will run into this problem as well. I did change the wifi SSID and turned tethering on. Thats the only noticeable change I made but after that I was still ssh'ing via usb. Next day ss

[2019-03-09 00:19] JonasLos commented on #13
Resolved: My computer was messing up, restarted it and it connects again.

[2019-03-09 00:21] #13 closed, assigned to nobody

[2019-03-09 01:05] SantiagoGarza96 commented on #11
Thank you very much it worked. If possible can you explain what this did?

[2019-03-09 01:57] #11 closed, assigned to ansarid

[2019-03-09 02:32] dmalawey commented on #11
Daniyal found the fix, not me but I just googled “Linux grow_partition” and found this:

https://elinux.org/Beagleboard:Expanding_File_System_Partition_On_A_microSD

[2019-03-10 04:17] ansarid commented on #11
@SantiagoGarza96 Sure!

[code]
Moves you into the ```/opt/scripts/tools``` directory.
[code]
Since the directory you are in is a git repository that comes already downloaded to the BeagleBone it may be out of date. ```git pull``` updates the repository. When you run the command you will see the link https://github.com/RobertCNelson/boot-scripts show up since that is the original location of the re

[2019-03-10 22:55] dmalawey opened #14 "Share skeleton code for Speech-to-Text"
Please include:

1. Libraries installed (or libraries referenced, which we already installed)
2. Links to the API or documentation
3. Commands or minimal code to get started
4. Description of hardware used to accomplish the task

[2019-03-10 23:26] dmalawey commented on #14
[Trial adding JASPER to Beaglebone.docx](https://github.com/dmalawey/Scuttle/files/2950171/Trial.adding.JASPER.to.Beaglebone.docx)

[2019-03-11 17:01] dmalawey opened #15 "Build NEMA 17 gantry assembly"
[CAD models](https://grabcad.com/library/openbuilds-various-hardware-1) of similar design concept by OpenBuilds.

[Youtube video](https://www.youtube.com/watch?v=W2GxLMvkjQw) of mechanism operation style.

First few components in Solidworks CAD are uploaded on [grabCAD](https://grabcad.com/library/scuttle-linear-actuator-in-progress-1)

[2019-03-12 06:56] ansarid commented on #12
[rcpy Issue #14](https://github.com/mcdeoliveira/rcpy/issues/14#issue-371687150)

[2019-03-12 13:17] dmalawey opened #16 "drive.py has no description or explanation in comments"

[2019-03-12 18:05] JonasLos opened #17 "Bash self_installer correction"
In the guide on how to install the self_installer it says you should see the tilde sign again but since the last line in that file is sudo reboot you would not see anything as you first have to reconnect via SSH?

[2019-03-13 01:29] ansarid commented on #17
Correct.

[2019-03-13 08:17] #4 closed, assigned to ansarid

[2019-03-13 08:17] #16 closed, assigned to ansarid, dmalawey

[2019-03-13 09:10] ansarid commented on #14
Google [Speech Recognition Library](https://github.com/Uberi/speech_recognition/blob/master/reference/library-reference.rst):
`sudo pip3 install SpeechRecognition`

[PyAudio](https://people.csail.mit.edu/hubert/pyaudio/docs/) required to get audio from the microphone. (We are using the microphone built-in to the webcam)
`sudo pip3 install pyaudio`

Make sure a webcam with a built-in microphone or

[2019-03-13 09:10] #14 closed, assigned to ansarid

[2019-03-13 09:25] ansarid commented on #9
Now using Tkinter instead of PyGame.

[2019-03-13 14:11] dmalawey commented on #12
I have documented this issue in the Beaglebone.org beagleboard - blue forum.   [Link is here](https://beagleboard.org/discuss?place=msg%2Fbeaglebone%2FcdywN2pd0_E%2FVkOEB_4MAgAJ)

[2019-03-13 14:16] dmalawey commented on #12
I have also pinged the RCPY author on his library's [existing issue](https://github.com/mcdeoliveira/rcpy/issues/14), with the same topic.

[2019-03-21 20:33] dmalawey commented on #12
I've now added this as an issue at [StrawsonDesign/LibRobotControl](https://github.com/StrawsonDesign/librobotcontrol/issues/154#issue-423478005) which I am told is the library truly handling this code, since RCPY is a python-written reference to librobotcontrol.

[2019-03-22 16:12] #17 closed, assigned to nobody

[2019-03-26 19:23] dmalawey commented on #12
The issue is being discussed in the slack channel for libRobotControl [here.](https://librobotcontrol.slack.com/messages/CBLL51BTL/)

User jadonk is creating some troubleshooting scripts associated with the errror [here](https://gist.github.com/jadonk/8ece4ad83ac67e5215af6a3d686d0ae2)

[2019-03-27 15:21] dmalawey commented on #12
A fix is in the works but not complete.  First step: all users should update their librobotcontrol library, after running sudo apt-get update.

An example is shown below.  You can confirm that you have the latest librobotcontrol version by attempting to update it again, and receiving feedback that the library "is already the newest version"

[code]

[2019-03-27 20:15] SantiagoGarza96 opened #18 "Cannot SSH via wifi or USB to Beaglebone"
We were working with scuttle in Thom 101 and using the latest image scuttle_v1. When powered with the battery pack, the beaglebone network did not show up, and couldn't ssh via cloud9 or putty. While the beaglebone was powered via USB to a laptop and using putty to ssh to the address 192.168.7.2, a connection never occurred and would time out, same for cloud9.

[2019-03-28 06:18] ansarid commented on #12
[The issue has been patched.](https://github.com/rcn-ee/librobotcontrol/commit/06c406de2c7b63a246a525f243d4e170ec0c664d)

Run:
[code]

[2019-03-28 06:18] #12 closed, assigned to ansarid, dmalawey

[2019-03-28 06:19] ansarid commented on #9
Seems unneeded at the moment. Postponing for later.

[2019-03-28 06:19] #9 closed, assigned to ansarid

[2019-03-28 06:22] ansarid opened #19 "Create PyGame installer script."

[2019-03-29 18:58] ansarid commented on #18
User says issue fixed itself

[2019-03-29 18:58] #18 closed, assigned to ansarid

[2019-03-30 08:32] ansarid commented on #15
Issues driving servos and steppers at the same time.

[2019-04-02 01:27] dmalawey opened #20 "SICK lidar - Publish code to pull readings in Python"
1) Determine the communication method for the TiM561 over USB. \
e.g. if the communication is "serial" then what is the baud rate?\
Otherwise, determine the method, default IP address, port number, etc.\
2) share the spreadsheet that breaks down the "telegram" from the lidar.

[2019-04-02 03:12] dmalawey commented on #20
Attachments - example telegrams
[sample telegram.txt](https://github.com/MXET/SCUTTLE/files/3032186/sample.telegram.txt)
[telegram_translator_ver1.0.xlsx](https://github.com/MXET/SCUTTLE/files/3032187/telegram_translator_ver1.0.xlsx)

[2019-04-02 21:38] dmalawey opened #21 "Add instructions for: install mobaXterm, run vision calibration"

[2019-04-03 23:41] dmalawey commented on #20
from a SICK rep:

1) I found a surprisingly-detailed "how-to" in our internal support portal.  I attached the PDF and ZIP at the bottom that shows the process.  My research suggests that telnet programs can not readily connect to USB devices until a driver has "translated" the USB connection into some type of serial connection (COM1, COM2, etc).  The guide seems to show that the ROS driver can be

[2019-04-04 16:01] dmalawey opened #22 "MQTT Cayenne - share barebones data publishing code"
Don't forget to remove MQTT username, password, and client ID from the example code.

[2019-04-04 16:40] dmalawey commented on #20
from an MXET senior:

here is a python program which will open and read from the USB port as a serial connection. It is commented fairly heavily with explanations of what is happening as well as links to documentation for several of the imports.

(after downloading, change the file extension to .py)
[USBAsSerial.txt](https://github.com/MXET/SCUTTLE/files/3044561/USBAsSerial.txt)

[2019-04-04 22:09] d-belleza opened #23 "X11 Forwarding from BBB Issue"
When trying to ssh using X11 forwarding, we get an error message:
X11 forwarding request failed on channel 0

We have tried to modify the sshd_config file by changing the lines to:
X11Forwarding yes
X11UseLocalhost no

We do not know how to allow X11 forwarding to show the captured frame from OpenCV.

[2019-04-04 22:16] ansarid commented on #23
You may not have the X11 server installed.
Try ```sudo apt-get install xorg```.

[2019-04-04 22:35] d-belleza commented on #23
Trying to install xorg and run into the issue of
`You don't have enough free space in /var/cache/apt/archives/.`

[2019-04-05 17:34] ansarid commented on #23
Please try:
[code]

[2019-04-08 21:09] dlnash96 commented on #23
The solution you posted for increasing the partition size worked. However, we now get the error message:

This happens when using a very simple script that calls xeyes on the beaglebone.

`import os`
`os.system("xeyes")`

![Screen Shot 2019-04-08 at 4 07 22 PM](https://user-images.githubusercontent.com/31893695/55756970-6b742700-5a18-11e9-845e-9c3c594132c0.png)

[2019-04-10 01:50] ansarid commented on #20
Trying to build `TiM3xxLibUSBExample.c`
[code]
I tried installing libusb using apt-get and installed different versions of libusb which did not resolve the issue. I also built libusb from source which did not work.

[2019-04-11 19:14] dmalawey commented on #22
Here's the folder for placing the example.\
https://github.com/MXET/SCUTTLE/tree/master/software/python/cayenne

[2019-04-13 04:07] ansarid commented on #22
Added to the requested folder.

[2019-04-13 04:07] #22 closed, assigned to ansarid

[2019-04-13 04:09] ansarid commented on #23
You cannot call a gui application using os.system() on a remote server because though X11 works on your beaglebone it will not forward the gui through the X11 display.

[2019-04-13 04:09] #23 closed, assigned to nobody

[2019-04-13 04:10] #19 closed, assigned to ansarid

[2019-04-16 21:37] dmalawey opened #25 "explain servos example"
[servos example](https://github.com/MXET/SCUTTLE/blob/master/software/python/examples/servos/servos.py) needs to have a comment at the beginning that says what it does.

[2019-04-22 20:10] inioluwa4 opened #26 "X11 "Connection Refused" error when attempting to run ColorCalibrate.py"
![image](https://user-images.githubusercontent.com/43274889/56525476-a72ae880-6510-11e9-8e0f-3f0445b16bdf.png)

X11 forwarding is enabled in Putty
Xming server is active.

[2019-04-24 17:46] mortiz139 opened #27 "Servo motor control problem"
Using two servos to control a robotic arm. I am currently trying to get one servo running, but as soon as I run the code nothing moves. My code is essentially based off what was provided in this github. I also tried running rc_test_servos too, and it still not move.

I keep on getting the "Installing signal handlers" warning. I have already done the two updates.
sudo apt-get update
sudo apt-get in

[2019-04-24 17:50] ansarid commented on #27
The "Installing signal handlers" is just a warning, they can be ignored.

How are you powering your Beaglebone?

Also your code is very incomplete.

[2019-04-24 18:18] mortiz139 commented on #27
I was using the power brick that was given to us to power it.

Sent from my iPhone

[2019-04-24 18:23] ansarid commented on #27
@mortiz139 Do you get any servo movement from running the command `sudo rc_test_servos -s 1.5`?

[2019-04-24 18:27] dmalawey commented on #27
@mortiz, next time you post code, use the "insert code" button so the formatting is understandable.

You can grab the servo example 1 from the python basics folder, and that will run 1 servo.  Then use the code below to expand that to two servos, plugged into channel 1 and 2.

If this works, take some time to review the difference between the basic example and the one here, so you can understand w

[2019-04-24 18:28] #27 closed, assigned to ansarid

[2019-04-24 18:31] mortiz139 commented on #27
I am off campus grabbing lunch real quick, but I will try it once I’m back and let you know.

Sent from my iPhone

[2019-04-24 20:34] dmalawey commented on #26
@inioluwa4 please include this infomation.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, include code to help explain your problem

[2019-04-26 16:00] dmalawey opened #28 "input/output error & overall strange behavior in Shell"
Beaglebone is not cooperating in the Shell session.  How can we troubleshoot this?

**Steps to reproduce the problem:**
Upon loggin into the beaglebone, there is a "locking failed" message.
Upon further commands such as dmesg, there is an Input/output error for any command.

**Shell commands and output here:**
[code]

[2019-04-26 16:25] mortiz139 opened #29 "ADC initialization error?"
I am currently just trying to run rc_test_servo. I am testing the code before I plug in a servo. Once I run the code below, this is the error I receive.

[code]

[2019-04-26 17:53] dmalawey commented on #29
This trial was repeated on a different beaglebone with the same SD card, and the code executes with no error, and servo runs properly.  Does this mean the blue has a problem?

[2019-04-26 18:36] ansarid commented on #29
@mortiz139 try running it with sudo

[2019-05-02 19:15] dmalawey commented on #26
No details were provided for this issue.  Closing now.

[2019-05-02 19:15] #26 closed, assigned to nobody

[2019-05-02 19:22] ansarid commented on #26
@inioluwa4 That program opens a GUI window that is called from the cv2.imshow() function. This program will work using X11 forwarding which I assume is what you are trying to do. You need to use a X11 capable SSH client like MobaXterm so that the GUI window can be forwarded to you. The terminal in Cloud9 does not have this capability which means running any programs that launch a GUI through the C

[2019-05-03 08:33] ansarid commented on #20
I've now written [a simple library to use the TiM561 LIDAR over USB](github.com/ansarid/pytim5xx).

[2019-05-03 08:33] #20 closed, assigned to ansarid, dmalawey

[2019-05-03 08:35] ansarid commented on #15
Feature request by @jadonk on [](github.com/strawsondesign/librobotcontrol) for built in stepper control function.
[Issue #158](https://github.com/StrawsonDesign/librobotcontrol/issues/158#issue-429453060)

[2019-05-03 08:36] #25 closed, assigned to ansarid

[2019-05-03 08:37] ansarid commented on #28
Is this an issue you have often? It looks like something that would happen if your SD card popped out while the beaglebone was in use. Did rebooting solve this issue?

[2019-05-03 08:38] ansarid commented on #29
Inactive issue for what seems like a lack of knowledge instead of an issue. Closing.

[2019-05-03 08:38] #29 closed, assigned to ansarid

[2019-05-03 14:37] dmalawey opened #30 "folder maintenance (utilize addons folder)"
Let's move into the "addons" folder:

- joystick folder
- cayenne folder
- pygame development folder
- color-tracking folder

Let's also:

- rename any demo program to be demo_description.py

[2019-05-06 17:42] dmalawey opened #31 "help! installing matplotlib"
I'm attempting to install matplotlib on my blue, but it failed.  Here's what happened:

[code]

[2019-06-09 00:18] ansarid commented on #31
Matplotlib isn't useful to be installed on the BeagleBone. But this looks like your SD card does not have enough space.

[2019-06-09 00:18] #31 closed, assigned to nobody

[2019-07-08 16:47] newday1 commented on #28
I have this issue too. My os is fedora 30.  Rebooting can't sovle this issue

[2019-08-06 20:53] #30 closed, assigned to ansarid

[2019-08-06 20:54] #28 closed, assigned to ansarid

[2019-08-06 20:55] #21 closed, assigned to ansarid

[2019-08-06 20:56] #8 closed, assigned to ansarid

[2019-08-30 23:53] dmalawey opened #33 "Self_installer.sh does not complete"
The self_intaller does not finish it's job of installing packages and many errors follow.

An example of the output is shown in this gist:  [problems with self_installer](https://gist.github.com/dmalawey/548086df8b3069f73360ee25d0f626f2)

[2019-08-31 00:00] dmalawey commented on #33
A resolution to this problem has been generated (with help from Ahmad B.)  We will reopen the issue if this fix is not successful for other users.

**Please note the fix:**
The self-installer includes a command for expanding the partition containing the image on the SD card, so there is room for additional installations of packages.  After this "growing" of the partition we need to reboot so the m

[2019-09-02 14:44] ReinhardtTanner commented on #33
I was able to complete self installer part 1, however I keep losing connection in cloud9 during step 2.

This is being done on my network at home because TAMU won't even let me do self installer part 1 for some reason.
I'm getting a read only error on the TAMU network.

An image is attached displaying the error.
![issue](https://user-images.githubusercontent.com/54809567/64122083-38835480-cd66-11e

[2019-09-02 15:35] dmalawey commented on #33
@ReinhardtTanner, two things to check:

1) you flashed using the very top version on the beagleboard.org/latest webpage, correct?  The name is **Debian 9.5 2018-10-07 4GB SD IoT**

The version called "flasher" may cause a problem since it attempts to write to the Blue's memory directly and subsequently will boot from onboard memory, limited to 4gb.

2) Double check that you have an internet connec

[2019-09-02 15:37] ReinhardtTanner commented on #33
Let me redo the process so I can narrow down a single issue.

[2019-09-02 16:50] ReinhardtTanner commented on #33
Just checked, looks like I used the version below it, the LXQT version. I
am currently downloading the correct file (IoT) and then I will re-flash.

On Mon, Sep 2, 2019 at 10:36 AM Michael Reinhardt <reinhardttanner@tamu.edu>
wrote:

--

*Michael T. Reinhardt*
Junior in Multidisciplinary Engineering Technology - Mechatronics

[2019-09-02 18:21] ReinhardtTanner commented on #33
Hey David I reflashed the correct version from the BeagleBoard site, however I am still having the read only issue. I am currently on my home network. Below is the terminal text.

[code]

[2019-09-04 15:06] dmalawey commented on #33
I think the next step is to learn what's going on with the space on the drive.  Please run commands from this video and output info on your boot drive.

https://youtu.be/SzzNJBzTZss

@ansarid  please add other useful troubleshooting questions to check on.

[2019-09-04 15:21] ansarid commented on #33
@ReinhardtTanner At exactly which step in the lab does this issue arise or become apparent?

[2019-09-05 15:37] jessaggie opened #34 "Internet connectivity issue for BeagleBone. Input/output error"
Any attempted at connecting to the internet results in an input/output error. This includes trying to use
[code]
 as well as the
[code]
[code]

[2019-09-05 16:05] ansarid commented on #34
@jessaggie Do all commands return the `Input/output error`, or just some commands?

[2019-09-06 22:04] jessaggie commented on #34
All commands returned the input/output error.

On Thu, Sep 5, 2019 at 11:05 AM Daniyal Ansari <notifications@github.com>
wrote:

[2019-09-11 18:12] jessaggie commented on #34
We have resolved this issue, possibly by reflashing the board

[2019-09-11 18:12] #34 closed, assigned to ansarid

[2019-09-17 20:48] #15 closed, assigned to dmalawey

[2019-09-17 22:18] dmalawey opened #35 "breakdown of packagesin self-installer part 2"
Let's please split the packages into 4 or more lines.

This way, if the installation is interrupted we can have incremental success and know what we ran.

If it's relevant, let's comment some of the packages or sets of packages.

Link to self installer part 2
https://github.com/MXET/SCUTTLE/blob/master/software/scripts/self_installer_part2.sh

[2019-09-18 18:19] ReinhardtTanner commented on #33
Ok so the issue was resolved. It seemed like it was a problem with the board as the WiFi and connection to the Beagle from computer frequently dropped upon attempted execution of the install files. The two install files installed flawlessly once a new board was obtained. Keep in mind the SD card remained unchanged with the previous flash version.

[2019-09-20 09:14] msadowski opened #36 "Add a licence for a project?"
Hi! Thanks for making this project and sharing it!

I'll be featuring it in the next issue of [Weekly Robotics](https://weeklyrobotics.com/). I've noticed that there is no project licence anymore in the project (there was a commit that removed it). As far as I know projects behind licence default to "All Rights Reserved" meaning that theoretically no one should use your work.

[2019-09-20 13:23] dmalawey commented on #36
Hi Mateus,

I am not savvy with license terms but once I can review our current
situation I’m going to assign a license such that copies of our work should
be required to mention the original authors, or Texas A&M department of
ETID, (engineering Technology department).

I will humbly ask that you be sure to do this in your article.  Thank you
for being forthcoming on this.  Let me know if you nee

[2019-09-20 16:05] msadowski commented on #36
Thanks David!

I'll be just linking to your main website. For finding a suitable licence I can recommend taking a look at https://tldrlegal.com/, they make good summaries of licences.

Also you can take a look at the database I've created during my work on the newsletter, where I specify licence for every project that has it: https://github.com/msadowski/awesome-weekly-robotics, that way you can s

[2019-09-20 22:04] dmalawey opened #37 "installer checker modifies text cursor"
The installer checker leaves me with a changed text cursor and it impedes copying and pasting of new text in the command line.   Please try to remove this.

https://github.com/MXET/SCUTTLE/blob/master/software/scripts/check_installed.sh

[2019-09-25 14:33] ansarid commented on #36
https://github.com/MXET/SCUTTLE/blob/master/LICENSE

[2019-09-25 14:33] #36 closed, assigned to nobody

[2019-09-25 14:36] #35 closed, assigned to ansarid

[2019-09-25 14:36] #33 closed, assigned to ansarid, dmalawey

[2019-09-25 14:37] ansarid commented on #37
You have to reboot after the script is complete. As a side effect that solves this issue.

[2019-09-25 14:37] #37 closed, assigned to ansarid

[2019-10-10 14:22] jessaggie opened #39 "Can't save a file and keep getting fail to write error"
Logged on to cloud 9 and every time I try to save a file or a change, this error pops up.

`Failed to write to 'L1_encoder.py'. EROFS: read-only file system, open '/home/debian/basics/L1_encoder.py' .`

[2019-10-10 14:44] ansarid commented on #39
@jessaggie Have you tried rebooting your Beaglebone? Most of the time a reboot will solve the issue.

[2019-10-10 16:03] jessaggie commented on #39
The reboot fixed it. Thank you

[2019-10-10 16:03] #39 closed, assigned to nobody

[2019-10-31 15:06] destantraeger opened #40 "import cv2 error"
Both self_installer_part1.sh and self_installer_part2.sh were run and cv2 was not installed in the user library. This issue persists across multiple teams.

![Screenshot (19)](https://user-images.githubusercontent.com/54677821/67959087-30a92a80-fbc6-11e9-9c8c-a01b0900ef69.png)

[2019-10-31 15:24] TWR2020 opened #41 "Cannot get cv to work"
when we tried to run:
sudo bash start_mjgp_streamer.sh L3_image_filter.py
we are receiving this error.

<img width="889" alt="Screen Shot 2019-10-31 at 10 20 15 AM" src="https://user-images.githubusercontent.com/54941239/67960674-a0201980-fbc8-11e9-91a7-3b25839e7229.png">

[2019-10-31 15:27] ansarid commented on #41
@TWR2020 Please copy and paste the output. Do not attach screenshots of your issue.

[2019-10-31 15:28] ansarid commented on #40
@destantraeger Please copy and paste the output. Do not attach screenshots of your issue.

[2019-10-31 21:34] RMC-800 opened #42 "USB Audio Issue"
# I lose connection from the gamepad and the speaker stops working when I run L3_drive_mt.py with both the USB dongle and a USB audio input device connected to the USB hub.

# These are the steps to reproduce this error.

#1). Connect the gamepad dongle and the USB audio to the USB hub and make sure the hub is connected to the BeagleBone.
#2). Run L3_drive_mt.py and check the functionality of the

[2019-11-03 17:43] jessaggie opened #43 "name 'lidar' is not defined"
Lidar is not defined even when it is defined.
We have verified the system recognizes it.
We are using the TiM781 lidar.
After playing around we believe it is a read/write issue but could be wrong.

Running the L1_lidar file gave us this error. It is in the same location as the pysicktim file.
The vendor id and product id are also exactly the same.

`debian@scuttle:~/basics/pysicktim$ python3 L1_li

[2019-11-03 20:15] ansarid commented on #43
@jessaggie It looks like the library was not installed correctly. Please read the instructions on the pysicktim README.md. Also please post any issues regarding the pysicktim LiDAR on the pysicktim repository issues tab.

[2019-11-03 21:53] dmalawey commented on #43
@jessaggie are you using the L1_lidar.py file that I updated yesterday?   Please confirm you have the latest.

[2019-11-03 22:00] dmalawey commented on #42
If you want to use DriveMT, please confirm you have latest versions of all dependent files.  (almost every python file in basics folder).   The drivers for bmp have to be working as well.  As you can see if you review the speaking loop, this loop accesses some sensors now to produce feedback.  Probably there's an issue with the speaking loop on your bot.

I'm planning to take down the DriveMT file

[2019-11-03 22:51] jessaggie commented on #43
We were using the latest L1_lidar.py file.  Ran installation again and it worked this time. Thanks!

[2019-11-03 22:51] #43 closed, assigned to nobody

[2019-11-04 17:52] ansarid commented on #41
@TWR2020 If this issue has been resolved please let me know that it has been resolved and what the issue is so that I can close this issue. If I do not get a response within the next day I will consider this issue resolved and the issue can be reopened if that is not the case.

[2019-11-04 17:52] ansarid commented on #40
@destantraeger If this issue has been resolved please let me know that it has been resolved and what the issue is so that I can close this issue. If I do not get a response within the next day I will consider this issue resolved and the issue can be reopened if that is not the case.

[2019-11-04 17:52] #40 closed, assigned to nobody

[2019-11-05 15:10] TWR2020 commented on #41
we are still having the same issue here is a copy of the output also.

debian@scuttle:~/basics/computer_vision$ ls
L3_image_filter.py  start_mjpg_streamer.sh
debian@scuttle:~/basics/computer_vision$ sudo bash start_mjpg_streamer.sh L3_image_filter.py
[sudo] password for debian:
MJPG Streamer Version.: 2.0
ERROR: could not find input plugin
       Perhaps you want to adjust the search path with:

[2019-11-05 15:13] TWR2020 commented on #41
we have run both of the self installers also here is the code again.

`debian@scuttle:~/basics/computer_vision$ ls
L3_image_filter.py  start_mjpg_streamer.sh
debian@scuttle:~/basics/computer_vision$ sudo bash start_mjpg_streamer.sh L3_image_filter.py
[sudo] password for debian:
MJPG Streamer Version.: 2.0
ERROR: could not find input plugin
       Perhaps you want to adjust the search path with:

[2019-11-05 18:13] ansarid commented on #41
@TWR2020 Please run `check_installed.sh` located in the scripts folder  and then try running `bash start_mjpg_streamer.sh L3_image_filter.py` again. Please send me the output of both commands.

[2019-11-05 18:13] ansarid commented on #41
@TWR2020 Please run `check_installed.sh` located in the scripts folder  and then try running `bash start_mjpg_streamer.sh L3_image_filter.py` again. Please send me the output of both commands.

[2019-11-05 22:17] TWR2020 commented on #41
I ran the check_installed.sh and it installed a line for opencv however after doing this I ran the next command and I now cannot find the output as the terminal history is not long enough.
When I ran the `bash start_mjpg_streamer.sh L3_image_filter.py` it created a output that had statements about errors in it. When I ran the bordered flow I only saw one video stream image.

`FileNotFoundError: [E

[2019-11-05 22:26] TWR2020 commented on #41
This is an image of the nodered dashboard
<img width="1280" alt="Screen Shot 2019-11-05 at 4 24 50 PM" src="https://user-images.githubusercontent.com/54941239/68251541-fd610400-ffe8-11e9-8f67-0559c5be5a45.png">

[2019-11-05 22:51] dmalawey commented on #41
This image is working properly.  Move the sliders to adjust your mask.

[2019-11-05 22:53] dmalawey commented on #41
@ansarid could we update it to not look for the values until the sliders have been moved once?  Maybe pre-assign some values in the .txt files.

[2019-11-05 23:08] TWR2020 commented on #41
I just figured that out reran it and adjusted the values and everything seems so be working properly.
thank you.

[2019-11-06 00:18] ansarid commented on #41
Sounds like this issue has been solved.

[2019-11-06 00:18] #41 closed, assigned to ansarid

[2019-11-12 23:05] TWR2020 opened #44 "RFID Reader Help"
We are trying to use the RFID reader and are not sure what we are doing wrong. We wired the device as shown in the diagram and followed the code setup from the L1_rfid.py file. We then tried to write and read a tag however it does not appear to work and wanted to ask for advice. Below are samples of the code we ran.Thank you

**Sample of the Setup code**
`debian@scuttle:~$ git clone https://github

[2019-11-13 00:49] TWR2020 commented on #44
Ground pin on the Beaglebone was discovered to be bent during troubleshooting.

[2019-11-13 00:49] #44 closed, assigned to nobody

[2019-11-13 18:31] dmalawey opened #45 "Beagle does not connect to TamuLink on startup (anymore)"
### Description of Problem

First, I checked internet connectivity and cannot connect to google.

[code]

Next, I tried to use connection manager to reconnect to the wifi:
[code]

### Solution found after some troubleshooting:

Request the system to turn off connection manager.
[code]
Request the system to turn on the connection manager:
[code]
Enter connman and scan wifi again.
[code]

Follow usu

[2019-11-13 18:31] dmalawey commented on #45
Solution has been found.  This issue is submitted for documentation purposes.

[2019-11-13 18:31] #45 closed, assigned to nobody

[2019-11-13 21:19] TheWhiteCollarPlayers opened #46 "Issue using L1_servo.py"
Hardware setup:
     Beagle Bone Blue connected via 12V barrel jack to wall outlet for power.
     Continuous servo connected in correct wiring configuration to servo1 position on BeagleBone Blue

Software Setup:
     uncommented while loop in L1_servo.py returns the following in the console:
`/usr/local/lib/python3.5/dist-packages/rcpy-0.5.0-py3.5-linux-armv7l.egg/rcpy/__init__.py:116: UserWarnin

[2019-11-13 21:21] TheWhiteCollarPlayers commented on #46
Solved, needed to run L1 as sudo, now wondering how if I can import into my L2 as sudo?

[2019-11-13 21:21] #46 closed, assigned to nobody

[2019-11-14 04:30] jessaggie opened #47 "Beagle Wifi is Disabled and BASH session won't initiate over USB"
We turned off the wifi in connman with the command connmanctl disable wifi and can no longer see anything when hard wired in through MOBA XTerm and through SSHing in.

[2019-11-14 05:36] jessaggie commented on #47
We were able to reenable the wifi access point through the serial port when hard wired in. When doing a normal boot after we were able to get on the beagle.

[2019-11-14 05:36] #47 closed, assigned to nobody

[2019-11-14 15:31] destantraeger opened #48 "self installer issue with Debian 9.9"
Our SD card is flashed with version 9.9 of the appropriate Debian distribution and slf installer is no longer compatible. When part1 is run, it will throw this error and then reboot.

debian@beaglebone:/var/lib/cloud9$ cd ~
debian@beaglebone:~$ sudo bash self_installer_part1.sh
[sudo] password for debian:
10+0 records in
10+0 records out
10485760 bytes (10 MB, 10 MiB) copied, 1.01095 s, 10.4 MB/s

[2019-11-14 15:35] ansarid commented on #48
Please send the output of "lsblk".

[2019-11-14 20:06] destantraeger commented on #48
debian@beaglebone:~$ blkid -h
blkid from util-linux 2.29.2  (libblkid 2.29.2, 22-Feb-2017)
Usage:
 blkid -L <label> | -U <uuid>

 blkid [-c <file>] [-ghlLv] [-o <format>] [-s <tag>]
       [-t <token>] [<dev> ...]

 blkid -p [-s <tag>] [-O <offset>] [-S <size>]
       [-o <format>] <dev> ...

 blkid -i [-s <tag>] [-o <format>] <dev> ...

Options:
 -c <file>   read from <file> instead of reading fr

[2019-11-14 21:27] jessaggie commented on #47
Plug beaglebone into the computer through the USB port. Open up Moba Xterm and start a new terminal selecting serial connection. Select usb/uart and set the baud rate to 15000. After this run the commands below.
`connmanctl`
`agent on`
`enable wifi` (this is the most important one)
`scan wifi`
`services ` (should display an SSID address)
`connect (insert SSID address from above)`

[2019-11-15 01:21] dmalawey commented on #47
I'm glad it was a quick fix in the end!

[2019-11-15 09:11] ansarid commented on #48
@destantraeger Please send the output of "lsblk".

[2019-11-27 00:53] ansarid commented on #48
Closing due to lack of response.

[2019-11-27 00:53] #48 closed, assigned to nobody

[2019-11-27 16:52] TWR2020 opened #49 "RFID Question"
I am using the RFID code provided in the basics section of GitHub to read tags. I am able to read the tag and then use the data provided in a if statement to tell if it is the one that I am looking for. I however also need to be able to tell that if there is no tag that is being read. Does the code return a variable that can be read in order to determine this? Pictured below is the code that I am

[2019-11-30 07:53] destantraeger opened #50 "L2_color_target.py producing an error"
code will run properly for several iterations of the standalone loop but will fail the process the 'None' value at some point and produce the following error:

Traceback (most recent call last):
  File "L2_color_target.py", line 53, in <module>
    if target[0] == None:
TypeError: 'NoneType' object is not subscriptable

"x = target[0]" & "if x == None:" were changed in order to attempt to solve th

[2019-12-01 22:41] TWR2020 commented on #49
I fixed the issue buying threading and running the two loops at the same time.

[2019-12-01 22:41] #49 closed, assigned to nobody

[2019-12-02 15:32] ansarid commented on #50
@destantraeger I don't see `if target[0] == None:` in any of the `L2_color_target.py`  code. Is this custom? If so, the issue is that you are trying to fetch a value from a `None` type using an index value.

Here's a simplification of what you are attempting to show why it is wrong.
[code]
Running it creates this output:
[code]

This is because there is no index `0` in the variable `array` because

[2019-12-04 18:14] ansarid commented on #50
@destantraeger Has this issue been solved? If I do not get a response within the next day I will close this issue. If this issue has not been resolved, please let me know. If I close this issue and the issue has not been resolved please let me know and I will reopen the issue.

[2019-12-11 23:28] #50 closed, assigned to ansarid

[2020-01-31 23:34] #42 closed, assigned to nobody

[2020-02-11 18:37] dneece5 opened #51 "Flow credentials file is encrypted in NodeRed"
When trying to deploy the accelerometer chart in NodeRed of Lab 2, it gives us the following bug:
[code]
It also opens a new tab with the following message:
![error](https://user-images.githubusercontent.com/60267478/74266987-d6425e80-4cca-11ea-81f0-c85c0ecde412.PNG)
Everything is setup correctly and everything is properly installed on the BeagleBoard, but we can't figure out why we can't create o

[2020-02-15 21:51] #51 closed, assigned to nobody

[2020-09-04 09:34] dmalawey opened #52 "need to delete unused images from docs directory"
requesting DA to do this since you have a simpler method.  only images 001 thru 024 are needed and only png. jpg images can be removed.

[2020-09-09 22:09] #52 closed, assigned to ansarid

[2020-09-12 00:59] dmalawey opened #53 "Purge confusing lines from all python files"
I'm requesting a script to be written to discover and remove this line before any git-pushes.

#!/usr/bin/python3

This is not code that I want to teach in the classroom.  It has been recurringly generated and does not serve a purpose.

[2020-09-14 21:33] ansarid commented on #53
That's the python shebang. It's true it's really not needed for the classroom code.
Removed in commit 974b7f9c0fd6ad3c6b43e6f36e7e5ee726c2fbf2

[2020-09-14 21:33] #53 closed, assigned to nobody

[2021-09-27 15:26] michaeljtownsend opened #56 "L1_gamepad.py works now, L3_gpDemo.py still has errors"
After the 9/26/2021 update to L1_gamepad.py, it runs without error and functions as intended. However, L3_gpDemo still has a few issues:
- You need to add "gp.start()" for the code to run (I added it to line 33). This resolves the name error where "name 'gamepad' is not defined".
- L3_gpDemo.py will print xd and td values, but they don't change based on input from the gamepad joystick. I did not s

[2021-09-27 15:34] #56 closed, assigned to nobody

[2021-09-27 15:36] michaeljtownsend commented on #56
Moved the "gp.start()" to different location where Daniyal had it in his recent update and now the values do change as they should. Issue resolved.

[2021-10-29 19:21] connortolbert opened #57 "Unable to track objects based off of RGB values on camera"
Howdy, I am using a Pi 3B and running the L2_track_target.py script and cannot get it to properly track RGB color combinations. I am using the image dated 2021-05-07 and have tested a multitude of different RGB combinations. I even tried testing them in different orders because I thought maybe they needed to be inputted in a different manner. I would like to be able to utilize this script to find

[2021-10-29 19:26] dmalawey commented on #57
Please tell us what hardware you're using, including the camera.

Please tell us the behavior you DO GET since you DON'T GET "properly tracking RGB"

Then, please tell your setup steps in enough detail so someone could repeat the issue.  @ansarid do you still have the link that explains how to clearly state a problem?

[2021-10-29 19:32] connortolbert commented on #57
We are using the logitech c922 pro hd stream webcam and microsoft lifecam HD-3000 camera given in lab.

It states "No target located"

I downloaded the L2_track_target.py script, added the variables shown above, and changed the pixel setup to 1920 x 1080 in L1_camera. Afterwards, I changed the get ratio function to divide by 1920 to get the correct values. Besides that all I did was change the var

[2021-10-29 19:54] dmalawey commented on #57
Thanks @connortolbert now we are getting somewhere.  I think it's best to validate that your camera is producing the stream of jpeg images, before it gets pulled into python.  We have not tested the combo of Pi + Logitech C922 before.

Take a look at [this guide](https://scuttlerobot.org/uploads/SCUTTLE_Operation_Guide.pdf) in section 2.1, Milestone 1.  This manual is copyrighted and we are still

[2021-10-29 19:59] connortolbert commented on #57
Okay, thanks for the help!

[2021-11-09 05:47] silver2row opened #58 "Getting RCPY and PYCNTRL to Install Appropriately..."
Hello,

Seth here. W/ GCC-10 on Bullseye, rcpy and pycntrl do not get installed appropriately. So, I am currently working on this issue.

...

If anyone has any recommendations, please reply.

Seth

[2021-11-09 14:15] #57 closed, assigned to ansarid, dmalawey

[2021-11-15 01:07] dmalawey commented on #58
Hi @silver2row are you part of the beaglebone organization? We've had issues with rcpy for a long time and we were able to get some parts to work, while others were never resolved.  Are you here to help us? 😄

[2021-11-15 01:56] silver2row commented on #58
Hello...no. Sadly no. I am not affiliated w/ their organization.

Oh and by helping, you mean to alter source to work correctly w/ current changes in images, OSs, C standards, and C++ standards, maybe?

I might be able to help a bit.

@dmalawey , I may be able to make time to pitch in. I got their source to compile finally along w/ warnings in the Bullseye OS w/ kernel 5.10.x.

Also, I have a list

[2021-11-18 03:44] dmalawey commented on #58
@silver2row some of your references have gone over my head, but we need a person versed in embedded linux plus standards in C++ etc as you mentioned, for sure!

The most recent critical issue was related to the rcpy motor driving function just quitting on us, and a couple of my team members were teaching the Mobile Robotics lab when this happened multiple times so they have more details than I. If

[2021-11-19 06:09] silver2row commented on #58
@dmalawey ,

Okay...no issue. Well, if you guys are going to use the new BBBlue when it arrives, nice. I am waiting on it too!

Seth

P.S. Anyway, if something happens and I get things configured correctly, I will reply.

[2021-12-02 02:24] silver2row commented on #58
@dmalawey ,

I have not figured anything out just yet. I think I am highly unskilled at getting someone else's lib. to work. I have resorted back to 4.19.x to make things work on my BBBlue for now.

Seth

[2021-12-06 23:29] samuk opened #59 "Support BLDC / Field Orientated Control?"
Hi, nice project!

 Just starting a robot project on a much smaller footprint, some commonality with your project. Looking to use smaller motors than you, but could potentially add support for larger motors to the driver board we're developing if it's of interest.

More here: https://cloud.transition-space.org/s/KyTnsYjs4GRkXjZ

Not exactly an issue, but couldn't spot an email for you.

[2021-12-06 23:50] dmalawey commented on #59
Thanks for finding us!  You can email me at dmalawey at g mail dot com.  Taking a peek at your document this looks pretty elegant.  I'll be happy to read more about it.

[2021-12-06 23:53] #59 closed, assigned to nobody

[2021-12-27 04:15] dmalawey opened #60 "i2cdetect not enabling"
From testing on 12/26:

**Steps Taken**
~Fresh install of the raspberry pi image SCTL_PI_IMG_2021.07
~updates and upgrades
~delete SCUTTLE directory on the Pi
~git clone scuttlerobot/SCUTTLE
~try to run command "sudo i2cdetect -y -r l" and no result
~not sure what to try

[code]

[2021-12-27 04:27] dmalawey commented on #60
I ran this and it looks like i2c detect works.  So, I think we need to add this install to the image.

`sudo apt-get install -y python-smbus`

[2021-12-27 20:03] ansarid commented on #60
@dmalawey

Please use the latest `11-06-2021_RPi_SCUTTLE_v0.21.1.img.xz` image. I'm about to create a new release(`12-27-2021_RPi_SCUTTLE_v0.21.2.img.xz`), so maybe wait for that one if you're going to reflash. I'm not sure what naming scheme `SCTL_PI_IMG_2021.07` is.

Are you just asking to remove the current SCUTTLE folder and clone it again from the latest source?

I'll put a fix in the new ima

[2021-12-28 01:49] dmalawey commented on #60
Do you have some log of what's installed in each image?  Can we produce this?

[2021-12-28 04:31] dmalawey opened #61 "Latest Image uses MXET/scuttle - should use new Repo"
![image](https://user-images.githubusercontent.com/42623372/147528217-fcb32966-86f8-4c02-b7e1-1434a8f0b38b.png)

Please create updated image that has the latest repo so we can git pull to update right after we flash and boot with the image.

[2021-12-28 04:41] dmalawey opened #62 "Commands found in cheat sheet need clarification"
2021.12 Fresh flash - ipconfig and ifconfig returns "Unknown command."

`/sbin/ifconfig -a` shows what used to show when I entered "ifconfig"

What to do?

[2021-12-28 04:57] ansarid commented on #62
Please use `sudo ifconfig`.

`ipconfig` is a Windows command and is not valid in Linux.

[2021-12-28 05:06] dmalawey commented on #62
![image](https://user-images.githubusercontent.com/42623372/147530115-ffc66fab-add8-4ba6-bce7-c69b710e2b55.png)

orly?

[2021-12-28 05:09] dmalawey commented on #62
Please see if you can review our long-standing linux notes for any other mistakes such as the missing sudo on the "iwconfig" entry.   Would appreciate it.

https://github.com/scuttlerobot/SCUTTLE/edit/master/software/README.md

[2021-12-28 05:29] ansarid commented on #62
Yes. IP is a newer tool that's not at all related to ipconfig.

[2021-12-28 05:29] ansarid commented on #62
will do

[2021-12-28 17:51] ansarid commented on #62
@dmalawey Or we could drop our cheatsheet(or a lot of the commands on the cheatsheet) for the [better resources that already exist.](https://www.raspberrypi.com/documentation/computers/using_linux.html)

[2021-12-28 18:03] ansarid commented on #60
I have an installer script that installs all the required packages and tools.

[2021-12-28 18:07] ansarid commented on #61
@dmalawey I didn't get a response from you regarding this [here](https://github.com/scuttlerobot/SCUTTLE/issues/60#issuecomment-1001722961). So I guess this means you want to have the SCUTTLE repo on the image, which means also fixing the remote repository location. I'll fix that.

_Originally posted by @ansarid in https://github.com/scuttlerobot/SCUTTLE/issues/60#issuecomment-1001722961_

[2022-02-10 04:48] #62 closed, assigned to nobody

[2022-02-10 04:51] #60 closed, assigned to ansarid

[2022-02-10 04:52] #61 closed, assigned to ansarid

[2022-03-02 17:39] dmalawey opened #63 "Have Feedback for Hardware? (thru 2022.03.31)"
### Hardware Feedback from Community Members
* suggested improvements, and hardware problems
* concerns about robustness
* unclear instructions

To add your feedback for this issue, please comment in the gist below:
* [Link to Gist for this issue](https://gist.github.com/dmalawey/9aa6fb298b6848113cdd0ed735b1d941)

[2022-04-06 21:24] lbbettinger opened #64 "SICK LiDAR Data Inconsistent"
Ranges of LiDAR Data points are coming in as 0 [distance angle]:
<img width="237" alt="Screen Shot 2022-04-06 at 4 10 53 PM" src="https://user-images.githubusercontent.com/71853645/162072859-18e5f7e0-60bb-4948-892a-75886402eb8a.png">
We were getting up to 10-15 0 values in a row earlier. This is while using a fully charged SCUTTLE battery pack. Using a bench-top power supply results in little to n

[2022-04-06 22:14] dmalawey commented on #64
OK here are some things you can check:

1. check the voltage of the battery.  the PIC has voltage/power meters that plug into anderson connectors.  Make sure in your trials the voltage is matched between battery and power supply
3.  check your surroundings - run your 2 trials with matching surroundings. (dont move the bot)  If the lidar strikes a reflective surface it won't get a value back.  Same

[2022-05-02 21:58] lbbettinger commented on #64
Shortening the cable and using Anderson Powerpole connectors resolved inconsistencies with the LiDAR

[2022-05-02 21:58] lbbettinger commented on #64
Shortening the cable and using Anderson Powerpole connectors resolved inconsistencies with the LiDAR

[2022-05-02 21:58] #64 closed, assigned to nobody